# Scrapy core
scrapy==2.13.3

# Работа с PostgreSQL через SQLAlchemy
SQLAlchemy==2.0.35
psycopg2-binary==2.9.9

# Selenium для динамического контента
selenium==4.25.0
webdriver-manager==4.0.2

# PySpark для последующей обработки данных
pyspark==3.5.3

# Логирование и утилиты
python-dotenv==1.0.1
